/* =========================
   Teams Page Styles
========================= */

.team-avatar-circle {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #E93B62;
  color: #fff;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1;

  flex-shrink: 0;
}

.table .btn-sm {
  width: 32px;
  height: 32px;
  padding: 0;
}

//ekiplerdeki izinler kısmındaki çizgi
.section-divider {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    to right,
    #e5e7eb,
    #f1f5f9,
    #e5e7eb
  );
  border-radius: 2px;
  margin-bottom: 24px;
}


