/*
<--!----------------------------------------------------------------!-->
<--! Badge SCSS Start !-->
<--!----------------------------------------------------------------!-->
*/
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 600;
  padding: 6px 16px;

  border-radius: 999px;
  letter-spacing: 0.2px;
}
