/*
<--!----------------------------------------------------------------!-->
<--! Badge SCSS Start !-->
<--!----------------------------------------------------------------!-->
*/
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 600;
  padding: 6px 16px;

  border-radius: 999px;
  letter-spacing: 0.2px;
    transition: all 0.2s ease;
}
.crm-badge {
  display: inline-flex;       
  align-items: center;        
  justify-content: center;   

  width: 135px;                
  height: 32px;

  font-size: 13px;
  font-weight: 600;

  border-radius: 999px;
  text-align: center;
}


